$bg-color: #F2FBE0;
$main-color: #5E9859;
$dark-color: #25291C;
$white-color: #FFFFFF;
$black-color: #1A1E1B;
$red-color: #FF101F;
$blue-color: #29339B;

.InfoCards {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin: 0 1rem;

    .card {
        margin: 0 .5rem;
        color: $white-color;
        padding: 1rem 2rem 1rem 1rem;
        border-radius: 10px;
    }

    #gastos {
        background-color: $red-color;
    }

    #ganhos {
        background-color: $blue-color;
    }

    #lucros {
        background-color: $main-color;
    }
}

